<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.maxMustermannGeheim.linkcollection">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Activitys.Knowledge.KnowledgeCategoryActivity"></activity>
        <activity
            android:name=".Activitys.Settings"
            android:label="Einstellungen"
            android:parentActivityName=".Activitys.Main.MainActivity" />
        <activity
            android:name=".Activitys.Main.MainActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activitys.Videos.VideoActivity"
            android:label="@string/VideoActivity_label"
            android:parentActivityName=".Activitys.Main.MainActivity" />
        <activity
            android:name=".Activitys.Knowledge.KnowledgeActivity"
            android:label="Wissen"
            android:parentActivityName=".Activitys.Main.MainActivity" />
        <activity
            android:name=".Activitys.Videos.CatigorysActivity"
            android:parentActivityName=".Activitys.Main.MainActivity" />
    </application>

</manifest>