<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.maxMustermannGeheim.linkcollection" >

    <uses-sdk tools:overrideLibrary="com.finn.androidUtilities" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoTitle"
        tools:ignore="GoogleAppIndexingWarning" >
        <activity
            android:name=".Activities.Content.Videos.WatchListActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Content.Media.MediaEventActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".Activities.Main.MainActivity" />
        <activity
            android:name=".Activities.Content.Media.VideoPlayerActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".Activities.Content.Media.MediaActivity" />
        <activity
            android:name=".Activities.Content.Media.MediaActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:parentActivityName=".Activities.Main.MainActivity"
            android:theme="@style/AppTheme.NoTitle" >
            <intent-filter
                android:icon="@drawable/ic_media"
                android:label="Medien hinzufügen" >
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/* video/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Main.DialogActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:theme="@style/DialogActivityTheme" />
        <activity
            android:name=".Activities.Main.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@style/AppTheme.NoTitle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Content.Videos.VideoActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/VideoActivity_label"
            android:parentActivityName=".Activities.Main.MainActivity"
            android:theme="@style/DialogActivityTheme.NoTitle" >
            <intent-filter
                android:icon="@drawable/ic_videos"
                android:label="Video hinzufügen" >
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Content.Videos.CollectionActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".Activities.Main.MainActivity" />
        <activity
            android:name=".Activities.Content.Show.ShowActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".Activities.Main.MainActivity"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".Activities.Content.Show.EpisodeActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".Activities.Main.MainActivity"
            android:theme="@style/AppTheme.NoTitle"/>
        <activity
            android:name=".Activities.Content.KnowledgeActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="Wissen"
            android:parentActivityName=".Activities.Main.MainActivity"
            android:theme="@style/DialogActivityTheme.NoTitle" >
            <intent-filter
                android:icon="@drawable/ic_knowledge"
                android:label="Quelle hinzufügen" >
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Content.OweActivity"
            android:configChanges="orientation|screenSize"
            android:label="Schulden"
            android:parentActivityName=".Activities.Main.MainActivity"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".Activities.Content.JokeActivity"
            android:configChanges="orientation|screenSize"
            android:label="Witze"
            android:parentActivityName=".Activities.Main.MainActivity"
            android:theme="@style/DialogActivityTheme.NoTitle" />
        <activity
            android:name=".Activities.Main.CategoriesActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".Activities.Main.MainActivity"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".Activities.Settings"
            android:configChanges="orientation|screenSize"
            android:label="Einstellungen"
            android:parentActivityName=".Activities.Main.MainActivity"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".Utilities.ActivityResultHelper"
            android:configChanges="orientation|screenSize"
            android:label="Dummy"
            android:theme="@style/DialogActivityTheme.NoTitle" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>